pkgbase = kernel-install-mkinitcpio
	pkgdesc = A framework for enabling systemd-boot automation using kernel-install with mkinitcpio
	pkgver = 2.0.pre4
	pkgrel = 1
	url = https://github.com/1Naim/kernel-install-mkinitcpio
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	depends = bash
	depends = coreutils
	depends = findutils
	depends = grep
	depends = sed
	depends = systemd
	depends = mkinitcpio
	optdepends = snapper: For bootable snapshot entries support
	conflicts = kernel-install-for-dracut
	conflicts = systemd-boot-manager
	source = kernel-install-mkinitcpio::git+https://github.com/1Naim/kernel-install-mkinitcpio.git#tag=2.0.pre4
	sha256sums = a8cd2c7cfe55c995f0fd9b3d4f46a1900422af8aa8527a31fbda1969eb8c8cda

pkgname = kernel-install-mkinitcpio
