pkgbase = kernel-install-mkinitcpio
	pkgdesc = A framework for enabling systemd-boot automation using kernel-install with mkinitcpio
	pkgver = 2.0.pre2
	pkgrel = 1
	url = https://github.com/1Naim/kernel-install-mkinitcpio
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	depends = bash
	depends = coreutils
	depends = grep
	depends = sed
	depends = systemd
	depends = mkinitcpio
	optdepends = snapper: For bootable snapshot entries support
	conflicts = kernel-install-for-dracut
	conflicts = systemd-boot-manager
	source = kernel-install-mkinitcpio::git+https://github.com/1Naim/kernel-install-mkinitcpio.git#tag=2.0.pre2
	sha256sums = a38832a338651467081cf5378835e92973d003dfa3f66577f8e8b3e6becf31e4

pkgname = kernel-install-mkinitcpio
