pkgbase = kernel-install-mkinitcpio
	pkgdesc = A framework for enabling systemd-boot automation using kernel-install with mkinitcpio
	pkgver = 1.9
	pkgrel = 1
	url = https://github.com/1Naim/kernel-install-mkinitcpio
	arch = any
	license = GPL-2.0-or-later
	depends = systemd
	depends = mkinitcpio
	conflicts = kernel-install-for-dracut
	source = kernel-install-mkinitcpio::git+https://github.com/1Naim/kernel-install-mkinitcpio.git#tag=1.9
	sha256sums = b5239bdb3829248c40b96d1ed34c55269d563872b3d8edd439e77afc1178feca

pkgname = kernel-install-mkinitcpio
